name: Hygiene

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check local links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --offline --no-progress --verbose "**/*.md" "*.html"
